body{
    .WpDatabaseHelper_field{
        background-color: #ededed;
        max-width: 100%;
        border-radius: 4px;
        
        &:not([type=checkbox]):not([type=radio]){
            min-width: 50px;
        }

        &_click_to_copy {
            outline: none;
            opacity: 1;
            cursor: pointer;
            margin: 0;
            padding: 0px 5px;
            line-height: 1.6;
            font-family: Consolas, Monaco, monospace;
            background-color: #ededed;
            font-size: x-small;
            border-radius: 3px;
            &:hover {
                background-color: #2271b1;
                color: white;
            }
        }

        &_wrap {
            position: relative;
            display: inline-block;
            margin-bottom: 10px;
            vertical-align: top;
    
            &.type-file {
                display: block;
            }
    
            &.full_width {
                width: 100%;
            }

            .WpDatabaseHelper_field_click_to_copy{
                border-color: transparent;
                position: absolute;
                bottom: -8px;
                right: 5px;
                white-space: nowrap;
                max-width: 150px;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            .form_field_media{
                .form_field_preview{
                    border-radius: 4px;
                    width: 100%;
                    min-height: 38px;
                    @media(min-width: 783px) {
                        min-height: 28px;
                    }
                    &:not(.has-value){
                        position: relative;
                        overflow: hidden;
                        background-color: #ededed;
                        border: 1px solid #ededed;
                        min-width: 100px;
                        &:before{
                            content: "--";
                            width: calc(100% - 16px);
                            height: 100%;
                            position: absolute;
                            padding-left: 8px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                        }
                    }
                    img {
                        max-width: 100%;
                        width: 100px;
                        height: auto;
                        border-radius: 4px;
                        border: 1px solid lightgray;
                        vertical-align: middle;
                    }
                }
            }

            .form_field_flex{
                display: flex;
                align-items: flex-start;
                gap: 10px;
                flex-wrap: wrap;
                margin-top: 2px;
                .item{
                    display: flex;
                    align-items: center;
                    gap: 3px;
                    input{
                        margin: 0;
                    }
                }
            }

            .form_field_flex_nowrap{
                display: flex;
                align-items: flex-start;
                gap: 10px;
                margin-top: 2px;
                flex-wrap: nowrap;
            }
        }
        &_suggest{

        }

        
    }
}