body{
    .WpDatabaseHelper_field_wrap{
        position: relative;
        display: inline-block;
        margin-bottom: 5px;
        vertical-align: top;
    
        &.type-file {
            display: block;
        }

        .WpDatabaseHelper_field {
            background-color: #ededed;
            border: 2px solid #2271b1;
            max-width: 100%;

            &:not([type="checkbox"], [type="button"]) {
                padding-bottom: 5px;
            }

            &_name {
                position: absolute;
                bottom: -8px;
                right: 5px;
                outline: unset !important;
                background: white;
                color: gray;
                font-size: 0.75em;
                white-space: nowrap;
                max-width: 150px;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
            
            &_click_to_copy:not(:empty) {
                cursor: pointer;
            
                &:hover {
                    background-color: #2271b1;
                    color: white;
                }
            
                margin: 0 5px 5px 0;
                border-radius: 4px;
                padding: 0 5px;
                outline: 1px dashed gray;
            }
        }
    }
}