body {
    .WpDatabaseHelper_meta-field {
        width: 100%;
        max-width: unset !important;
        border-color: #2271b1 !important;
        border-width: 2px !important;
        box-sizing: border-box;
        /* background-color: #efefef !important; */
    }

    .WpDatabaseHelper_meta-meta-box-container {
        .grid {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            margin-bottom: 10px;
            align-items: stretch;

            @media(min-width: 850px) {
                grid-template-columns: 1fr 1fr;
            }

            &>* {
                width: 100%;
                box-sizing: border-box;
            }

            .WpDatabaseHelper_field_wrap {
                width: 100%;

                &.field_input_wp_media {
                    width: unset;
                }

                .WpDatabaseHelper_field {
                    &:not([type=checkbox]):not([type=radio]):not([type=button]) {
                        width: 100%;
                    }
                }
            }

            .___default_wrap {
                &.full_width{
                    grid-column: 1 / -1;
                }
            }

            .___tab_nav {
                grid-column: 1 / -1;
                background-color: #ededed;
                padding: 10px 0 0px 10px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border: 1px solid #d3d3d3;
                // border-bottom: 0px;

                .button{
                    margin-right: 10px;
                    margin-bottom: -1px;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                    border-bottom-color: transparent;
                    &:not(.button-primary){
                        background-color: white;
                    }

                    &:hover,
                    &:focus,
                    &.zactive{
                        color: #2271b1;
                        background-color: white;
                        border-color: #d3d3d3;
                        // box-shadow: unset;
                        border-bottom-color: white;
                        position: relative;
                    }
                }
            }

            .___tab_content {
                grid-column: 1 / -1;
                // padding: 2px;
                border: 1px solid #d3d3d3;
                // background-color: #ededed;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                margin-top: -10px;
                border-top: 0;

                .inner {
                    background-color: white;
                    // margin: 0 7px 0 7px;
                    padding: 10px;
                    border-radius: 4px;
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 10px;
                    margin-bottom: 10px;
                    align-items: stretch;

                    @media(min-width: 850px) {
                        grid-template-columns: 1fr 1fr;
                    }
                }

            }
        }

        .title {
            margin-bottom: 5px;
        }

        .footer {
            opacity: 0.5;
            text-align: right;
        }
    }

    .WpDatabaseHelper_meta_quick_edit {
        height: 100%;
        border: 1px dashed transparent;



        .quick_edit_icon {
            visibility: hidden;
        }

        .quick_edit_field {
            display: none;

            .WpDatabaseHelper_field_wrap,
            .WpDatabaseHelper_field {
                max-width: 100%;
                min-width: unset;
            }

            .WpDatabaseHelper_field_name {
                display: none;
            }

            .form_field_label {
                display: none;
            }

            .form_field_media {
                &.form_field_flex_nowrap {
                    flex-direction: column;
                    gap: 5px;
                }
            }
        }

        &.active {
            .quick_edit_value {
                display: none;
            }

            .quick_edit_field {
                display: block;
            }

            .quick_edit_icon {
                visibility: visible !important;
            }
        }

        &:hover {
            border-color: lightgray;

            .quick_edit_icon {
                visibility: visible !important;
            }
        }
    }

    form table.wp-list-table {

        .column-product_cat,
        .column-product_tag,
        .column-name,
        .column-sku,
        .column-is_in_stock,
        .column-featured,
        .column-date {
            width: unset;
        }
    }
}