body {
    .WpDatabaseHelper_meta-field {
        width: 100%;
        max-width: unset !important;
        border-color: #2271b1 !important;
        border-width: 2px !important;
        box-sizing: border-box;
        /* background-color: #efefef !important; */
    }

    .WpDatabaseHelper_meta-meta-box-container {
        .grid {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            margin-bottom: 10px;
            align-items: stretch;

            @media(min-width: 850px) {
                grid-template-columns: 1fr 1fr;
            }
        }

        .item {
            box-sizing: border-box;

            &.full_width {
                grid-column: 1 / -1;
            }

            .WpDatabaseHelper_field_wrap {
                width: 100%;
                &.field_input_wp_media{
                    width: unset;
                }

                .WpDatabaseHelper_field {
                    &:not([type=checkbox]):not([type=radio]) {
                        width: 100%;
                    }
                }
            }
        }

        .title {
            margin-bottom: 5px;
        }

        .footer {
            opacity: 0.5;
            text-align: right;
        }
    }

    .WpDatabaseHelper_meta_quick_edit {
        height: 100%;
        border: 1px dashed transparent;

        &:hover {
            border-color: lightgray;

            .quick_edit_icon {
                display: block;
            }
        }

        .quick_edit_field {

            .WpDatabaseHelper_field_wrap,
            .WpDatabaseHelper_field {
                max-width: 100%;
            }

            .WpDatabaseHelper_field_name {
                display: none;
            }

            .form_field_label {
                display: none;
            }

            .form_field_media {
                &.form_field_flex_nowrap {
                    flex-direction: column;
                    gap: 5px;
                }
            }
        }
    }

    form table.wp-list-table {

        .column-product_cat,
        .column-product_tag,
        .column-name,
        .column-sku,
        .column-is_in_stock,
        .column-featured,
        .column-date {
            width: unset;
        }
    }
}