body {
    .WpDatabaseHelper_repeater_list_items {
        position: relative;

        .WpDatabaseHelper_repeater_list_items {

            >fieldset {
                display: flex;
                flex-wrap: nowrap;
            }
        }

        .is_empty {
            position: absolute;
            right: 0;
            top: 0;
        }

        .controls {
            margin-bottom: 5px;
            display: flex;
            gap: 5px;
            flex-wrap: nowrap;
        }

        .WpDatabaseHelper_field {
            background-color: white !important;
            width: unset;
        }

        .repeater_field {
            display: inline-flex !important;
            gap: 5px;
            margin: 0 !important;
            flex-direction: column;
            align-items: flex-end;
            position: relative;
        }

        counter-reset: repeater-index;

        >fieldset {
            border: 1px dashed #ccc;
            padding: 10px;
            background-color: #ededed;
            display: flex;
            flex-wrap: wrap;
            gap: 4px;
            align-items: flex-start;
            margin-bottom: 5px;

            padding-left: 22px;
            position: relative;
            counter-increment: repeater-index;

            &:before {
                content: counter(repeater-index) ".";
                font-family: inherit;
                position: absolute;
                top: 10px;
                left: 2px;
            }
        }

        button {
            .dashicons {
                line-height: 30px;
            }

            &.button-small {
                .dashicons {
                    line-height: 26px;
                }
            }
        }
    }
}